*,
*::before,
*::after {
box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
   
}

@media only screen and (min-width: 1025px) {
    
}

* {
margin: 0;
}

html,
body {
height: 100%;
display: grid
}

.body{
background: #fff;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
ul,a, h1,h3{
padding-inline-start: 5.875em 0em;
}

.container{
width: 75em; 
margin: 0 auto;
}

.section94px{
padding:5.875em 0em;
width: 100%; 
    
}



/*NAV MENU -- TOP LINE*/




.top-line{
width: auto;
height:4.5em;
background: #fff;
border-bottom: 0.0625em solid #e7e9fc;
}

.top-line>.container{
height: 4.5em;
}

.position-topline{
display: flex;
padding-left: 2em;
height: 4.5em;  
}

.top-line a:hover,
header.top-line a:focus {
color: #4d5ae5; 
outline: none;

}

a {
text-decoration: none;
}

.logo{
padding-top: 1.5rem;
display: flex;
gap: 0em;
width: 7.1875em;
height: 3em;
}

.web-logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 1.125em;
line-height: 1.3125em; 
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}

.studio-logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 1.125em;
line-height: 1.3125em; 
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
    
.nav-menu{
display: flex;
gap: 2.5em;
width: 21.0625em;
height: 3em;
padding-left: 4.75rem;
padding-top: 1.5rem;
}

.nav-studio, .nav-portfolio, .nav-contacts {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 1em;
line-height: 1.5em;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

}

.nav-menu a.active {
text-decoration: underline;
text-decoration-thickness: 4px;
text-underline-offset: 25px;
color: #404bbf;
}


.nav-portfolio {
position: relative;
}

.nav-contacts {
position: relative;
}

.email-phone{
width: 42.25em;
height: 3em;
display: flex;
padding-left: 20.75em;
padding-top: 1.5em;
}

.email{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 1em;
line-height: 1.5em; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.phone{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 1em;
line-height: 1.5em; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-left: 2.5em;
}



/* --HERO IMAGE-- */



.hero-image{
background-image:linear-gradient(rgba(26, 33, 55, 0.7), rgba(44, 42, 55, 0.7)), url("../images/people-office1.jpg");
background-size: 90em;
background-position: center;
background-repeat: no-repeat;
}

.button {
width: 42.75em;
height: 6.5em;
padding-top: 3em;
padding-left: 32.1875em;
padding-bottom: 9.375em;

}

.order-service {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 1em;
font-style: normal;
line-height: 1.5em;
letter-spacing: 0.04em;
color: var(--WHITE, #FFF);
background: #4d5ae5;
border: none;
cursor: pointer;
border-radius: 0.25em;
gap: 0.625em;
box-shadow: 00.25em 0.25em 0 rgba(0, 0, 0, 0.15);
align-items: center;
justify-content: center;
width: 10.5625em;
height: 3.5em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover{
background: #404BBF;
outline: none;
box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1)
}

.hero-title{  
margin: 0em; 
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 3.5em;
font-style: normal;
line-height: 3.75rem;
letter-spacing: 0.02em;
text-align: center;
color: var(--WHITE, #FFF);
padding-top: 7.5%

}

.modal {
position: fixed;
top:50%;
left: 50%;
width: 25.5em;
height: 36.5em;
transform: translate(-50%, -50%);
background-color: white;
padding: 1.25em;
border-radius: 0.25em;
box-shadow: 0 0.125em 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.12), 0 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.14);
background: #fcfcfc;
z-index: 2;
}

.is-hidden {
display: none;
}

.close-modal{
margin-left:20.5em;
cursor: pointer;
border: none;
background: none;
}

.close-modal svg{
width: 1.5em;
height: 1.5em;
flex-shrink: 0;
border: #E7E9FC;
border-radius: 0.25em;
    
}

.overlay {
position: fixed;
top: 0;
left: 0;
 width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1; 
}

.form-group {
width: 22.5em;
height: 3.625em;
}

.form-group1{
width: 22.5em;
height: 9.3125em;
margin-bottom: 1em;
}
#comment{
width: 22.5em;
height: 7.5em;
margin-bottom: 1em;
}
.name-phone-email-comment{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 0.75em;
line-height: 0.875em; 
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
display: grid;
}

.form-group input{
border: 0.0625em solid rgba(46, 47, 66, 0.4);
border-radius: 0.25em;
width: 100%;
height: 2.5em;
text-align: left;
}

.form-group1 textarea{
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 0.25em;
width: 100%;
height: 2.5em;
    
}

.form-group input:focus,
.form-group1 textarea:focus{
outline: 0.0625em solid #4d5ae5;
}

.checkbox-group {
margin-right: 0.625em;
margin-bottom: 1.5em;
}

.checkbox-group label {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 0.75em;
line-height: 0.875em; 
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
line-height: 1em; 

}

.checkbox-group label a{
line-height: 1em; 
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}


.submit-button {
background-color: #007bff;
color: #fff;;
border: none;
padding: 0.25em 1.25em;
border-radius: 0.3125em;
cursor: pointer;
transition: background-color 0.3s ease;
padding: 1em 2em;
margin-left: 7.25em;
}

.submit-button:hover {
background-color: #0056b3;
}

.form-group {
position: relative;
}

.input-container {
position: relative;
}

.input-container input{
padding-left: 2.5em;
}

.fa-user {
position: absolute;
top: 50%;
left: 0.625em;
transform: translateY(-50%);
}

.fa-phone{
position: absolute;
top: 50%;
left: 0.625em;
transform: translateY(-50%);
}

.fa-envelope{
position: absolute;
top: 50%;
left: 0.625em;
transform: translateY(-50%);
}

.input-container input:focus+.fa-user{
color: #4d5ae5; 
}

.input-container input:focus+.fa-phone{
color: #4d5ae5; 
}

.input-container input:focus+.fa-envelope{
color: #4d5ae5; 
}




/*SECTION 1 & 2*/




.section1-2{
height: 66.5em;
width: auto;
}

.section1-2>.container{
height: 66.5em;
} 

.section1{
width: 70.5em;
height: 15.625em;
display: flex;
margin-left: auto;
margin-right: auto;
}

.feature1, 
.feature2, 
.feature3, 
.feature4{
gap: 0.5em;
width: 16.5em;
height: 14em;
}

.feature1 use {
transform-origin: center;
}

.feature2,
.feature3,
.feature4{
margin-left: 1.5em;
}

.strategy, 
.punctuality, 
.diligence, 
.tehnologies{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 1.25em;
font-style: normal;
line-height: 1.5em; 
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
margin: 0em; 
}

.text-strategy,
.text-punctuality,
.text-diligence,
.text-tehnologies{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 1em;
font-style: normal;
line-height: 1.5em; 
letter-spacing: 0.02em;
color: var(--SLATE, #434455); 
}



/*SECTION 2*/



.section2{
width: 70.5em;
height: 39.0625em;
flex-shrink: 0;
margin-left: auto;
margin-right: auto;
}

.Section2-title{
font-family: "Roboto", sans-serif;
font-weight: 68.9375em;
font-size: 2.25em;
font-style: normal;
line-height: 2.5em; 
letter-spacing: 0.02em;
text-transform: capitalize;
margin: 0em;
color: var(--NAVY-BLUE, #2E2F42);
padding-left: 25.1875rem;

}

.technology-pictures{
width: 70.5em;
height: 23.25em;
display: flex; 
padding-top: 4.5em;      
}

.img-1, 
.img-2, 
.img-3{
gap: 0em;
width: 22.5em;
height: 18.75em;
}

.img-2,
.img-3{
margin-left: 1.5em;
}

.size-pictures{
border: 0.0625em solid #e7e9fc;
width: 22.5em;
height: 18.75em;
}



/*SECTION 3 */



.section3{
width: auto;
height: 46.75em;
background: #f4f4fd;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.section3>.container{
height: 45.75em;
}

.title1{
Width: auto; 
height: auto;
padding-top: 1.625em;
padding-left: 30.1875em;
display: inline;
}

.our-team{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 2.25rem;
font-style: normal;
line-height: auto; 
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
margin: 0em;
display:inline;
}

.pepole{
width: 70.5em;
height: 31.25em;
display: flex;
padding-top: 4.5em;
margin-left: auto;
margin-right: auto;
}

ul {
padding: 0em;
}

.team-card1, 
.team-card2, 
.team-card3, 
.team-card4{
gap: 32px;
border-radius: 0em 0em 0.25em 0.25em;
width: 16.5em;
height: 26.75em;
box-shadow: 0em 0.125em 0.0625em 0em rgba(46, 47, 66, 0.08), 0em 0.0625em 0.0625em 0em rgba(46, 47, 66, 0.16), 0em 0.0625em 0.375em 0em rgba(46, 47, 66, 0.08);
background: #fff; 
box-shadow: 0em 0em 0.625em 0.3125em rgba(0, 0, 0, 0.1);
}



.team-card2,
.team-card3,
.team-card4{
margin-left: 1.5em;

}

.img{
width: 16.5em;
height: 16.25em;
background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;  
}

.name{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 1.25em;
font-style: normal;
line-height: 1.5rem; 
letter-spacing: 0.02em;
text-align: center;
color: var(--NAVY-BLUE, #2E2F42); 
margin-top: 1.5em;  
}

.job-description{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 1em;
font-style: normal;
line-height: 1.5em; 
letter-spacing: 0.02em;
text-align: center;
color: var(--SLATE, #434455);
}

.section3 h3:hover,
.section3 h3:focus,
.section3 p:hover,
.section3 p:focus {
color: #404bbf;
cursor: pointer;
outline: none;


}



/* Section 4 */



.section4{
height: 27.5em;       
}


.customers{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 2.25em;
margin: 0em;
line-height: 2.5em; 
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
padding-bottom: 4.5rem;       
}

.company-icons{
display: flex;
gap: 1.5em;
width: 70.5em;
height: 5.5em;
margin: 0em;
margin-left: auto;
margin-right: auto;
}



.icons-size{
width: 10.5em;
height: 5.5em;
border: 0.0625em solid #8e8f99;
border-radius: 0.25em;
display: flex; 
fill: #8E8F99;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-size:hover {
fill: #404BBF;
cursor: pointer;
outline: none;
background-color: #f0f0f0;
color: #333333;
box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1); 
}




/*FOOTER*/




.footer{
width: 100%;
height: 19.5em;
background: #2e2f42;
flex-shrink: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer>.container{
height: 19.5em;
    
}

.position-footer{
display: flex;
padding-left: 2em;
}

.logo-text{
width: 16.5em;
height: 7.40625em;
flex-shrink: 0;
padding-top: 0.46875rem;
}

.logo-footer{
display: flex;
gap: 0em;
width: 7.1875em;
height: 1.5em;  
}

.footer a:hover {
color: #4d5ae5;
outline: none;
box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);

}

.web-footer{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 1.125em;
font-style: normal;
line-height: 1.3125em; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--IRIS, #4D5AE5);
display: flex;
width:4.4375em;
height: 1.3125em;
}

.studio-footer{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 1.125em;
font-style: normal;
line-height: 1.3125em; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--CLOUD, #F4F4FD);
display: flex;
width: 4.4375em;
height: 1.3125em;
}

.text-footer1{
width: 16.5em;
height: 5.5em;
padding-top: 1em;  
}

.text5{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 1em;
font-style: normal;
line-height: 1.5em; 
letter-spacing: 0.02em;
color: var(--CLOUD, #F4F4FD);
width: 16.5em;
margin: 0em;  
}

.e-mail-input-social{
display: flex;
}

.social{
width: 14.125em;
height: 7.5em;
margin-left: 7.5em;

}
.social>h3{
margin: 0em;
}

.social-media{
color: var(--WHITE, #FFF);
font-family: "Roboto", sans-serif;
font-size: 1em;
font-style: normal;
font-weight: 500;
line-height: 1.5em;
letter-spacing: 0.02em;
}

.icons-list{
display: flex;
gap: 1.5em;
margin-top: 1em;
justify-content: center;
}

.icons-list .icon svg{
width: 1.25em;
height: 1.25em;
justify-content: center;
}
.icons-list .icon{
width: 2.5em;
height: 2.5em;
background: #4D5AE5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list .icon:hover{
background: #31D0AA;
outline: none;
color: #333333;
box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
}

.icons-list .icon:focus{
background: #4D5AE5;
}

.e-mail-input {
display: flex;
flex-direction: column;
margin-left: 5em;
width: 28.3125em;
height: 5em;
flex-shrink: 0;
}

.email-footer{
color: var(--WHITE, #FFF);
font-family: "Roboto", sans-serif;
font-size: 1em;
font-style: normal;
font-weight: 500;
line-height: 1.5em;
letter-spacing: 0.0em;
margin-bottom: 1em;
}

.input-button-container {
display: flex;
}

.input-button-container input {
width: 16.5em;
height: 2.5em;
flex-shrink: 0;
background-color: transparent;
border-color: white;
color: white;
}

.subscribe{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 1em;
font-style: normal;
line-height: 1.5em;
letter-spacing: 0.01em;
color: var(--WHITE, #FFF);
background: #4d5ae5;
border: none;
cursor: pointer;
border-radius: 0.25em;
gap: 0.625em;
box-shadow: 00.25em 0.25em 0 rgba(0, 0, 0, 0.15);
align-items: center;
justify-content: center;
width: 10.5625em;
height: 2.5em;
margin-left: 1.5em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.subscribe:hover {
background: #404BBF;
outline: none;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}





/*PORTFOLIO CSS*/





.portfolio-main{
width: 100%;
height: 1692px;
}

.portfolio-main>.container{
height: 1692px;  
}

.filters{
display: flex;
gap: 24px;
width: 857px;
height: 50px;
padding-top: 2px;
padding-left: 271px;
margin: 0;
}

.all-butoon{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
font-style: normal;
line-height: 24px;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #f4f4fd;
border: none;
cursor: pointer;
border-radius: 4px;
gap: 10px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
width: 69px;
height: 48px;
padding: 0px;
z-index: 1;
position: absolute;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn1-position{
margin-left: 69px;  
}

.web-site{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
font-style: normal;
line-height: 24px;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #f4f4fd;
border: none;
cursor: pointer;
border-radius: 4px;
gap: 10px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
width: 116px;
height: 48px;   
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
font-style: normal;
line-height: 24px;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #f4f4fd;
border: none;
cursor: pointer;
border-radius: 4px;
gap: 10px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
width: 78px;
height: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desing{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
font-style: normal;
line-height: 24px;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #f4f4fd;
border: none;
cursor: pointer;
border-radius: 4px;
gap: 10px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
width: 101px;
height: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.marketing{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
font-style: normal;
line-height: 24px;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #f4f4fd;
border: none;
cursor: pointer;
border-radius: 4px;
gap: 10px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
width: 126px;
height: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-butoon:hover{
background-color: #4d5ae5;
color:white;
outline: none;  
box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.web-site:hover {
background-color: #4d5ae5;
    color: white;
    outline: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.app:hover {
background-color: #4d5ae5;
    color: white;
    outline: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.desing:hover {
background-color: #4d5ae5;
    color: white;
    outline: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}


.marketing:hover {
background-color: #4d5ae5;
    color: white;
    outline: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

/*Section row*/

.row-1 {
        width: 1128px;
        height: 492px;
        padding-top: 72px;
}

.row-2 {
        width: 1128px;
        height: 468px;
        padding-top: 48px;
}

.row-3 {
        width: 1128px;
        height: 494px;
        padding-top: 48px;
        padding-bottom: 26px;
}

.row-1,
.row-2,
.row-3,
li {
        list-style-type: none;
}

.project-card1 {
        display: flex;
}

.project-card2 {
        margin-left: 24px;
        position: relative;
        width: 360px;
        height: 420px;
        border: 1px solid #e7e9fc;
        overflow: hidden;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card2:first-child{
        margin-left: 0px;
}


.overlay-image {
        position: relative;
        overflow: hidden;
}

.overlay1 {
        padding: 40px 32px;
        position: absolute;
        top: 0;
        width: 360px;
        height: 310px;
        background-color: rgba(77, 90, 229, 0.95);
        transform: translateY(100%);
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 0.1);
}

.overlay-image:hover .overlay1 {
        transform: translateY(0px);
}

.overlay-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: white;
}

.card-content1, .card-content2, .card-content3{
        margin-top: 32px;
        margin-left: 16px;
}
.card-content1 p{
        margin-top: 8px;
}
.card-content2 p {
        margin-top: 8px;
}
.card-content3 p {
        margin-top: 8px;
}